@model UsuarioModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<h2>Exclusão de Usuário</h2>
<hr>
<h3>Deseja realmente excluir o Usuário <span class="text-danger">@Model.Nome</span>?</h3>
<form method="post" asp-controller="Usuario" asp-action="ProcessarExclusao" class="mt3">
    <input type="hidden" asp-for="@Model.IdUsuario">
    <p>
        <a asp-controller="Usuario" asp-action="Index"><button type="button" class="btn btn-success">Não</button></a>
        <input type="submit" value="Sim" class="btn btn-danger">
    </p>
</form>