<div class="container g-3">
    <div class="col-10 mx-auto" style="margin-top: 130px">
        <div class="row">
            <div class="col text-center fs-4 pe-5">
                <a asp-controller="Camaradas" asp-action="Index" class="text-decoration-none text-dark"> <img class="w-75" src="~/img/cadastros_camaradas.png" alt="">Camaradas</a>
            </div>
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark"> <img class="w-75" src="~/img/cadastros_plantio.png" alt="">Plantio</a>
            </div>
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark"> <img class="w-75" src="~/img/cadastros_colheita.png" alt="">Colheita</a>
            </div>
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark"> <img class="w-75" src="~/img/cadastros_lavoura.png" alt="">Lavoura</a>
            </div>
            <div class="col text-center fs-4">
                <a class="text-decoration-none text-dark"> <img class="w-75" src="~/img/cadastros_terreno.png" alt="">Terreno</a>
            </div>
        </div>
    </div>
</div>