<div class="container g-3">
    <div class="col-10 mx-auto" style="margin-top: 130px">
        <div class="row">
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark" href=""> <img class="w-75" src="~/img/restrita_cadastros.png" alt="">Cadastros</a>
            </div>
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark" href=""> <img class="w-75" src="~/img/restrita_estoque.png" alt="">Estoque</a>
            </div>
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark" href=""> <img class="w-75" src="~/img/restrita_receita.png" alt="">Receitas</a>
            </div>
            <div class="col text-center fs-4 pe-5">
                <a class="text-decoration-none text-dark" href=""> <img class="w-75" src="~/img/restrita_despesa.png" alt="">Despesas</a>
            </div>
            <div class="col text-center fs-4">
                <a class="text-decoration-none text-dark" href=""> <img class="w-75" src="~/img/restrita_indicadores.png" alt="">Indicadores</a>
            </div>
        </div>
    </div>
</div>